/*CSS RESET*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #9ddef3;
}

img {
  width: 15%;
  height: auto;
  display: block;
}

/*MOBIL*/
@media (max-width: 800px) {
  /*HEADER*/

  /*MAIN*/

  .fhero {
    display: grid;
    place-items: center;
  }

  img,
  h1 {
    grid-area: 1 / 1;
  }

  .fhero h1 {
    font-family: "MinFantastiskeFont";
    font-size: 35px;
    color: white;
    letter-spacing: 4px;
    text-align: center;
    margin: 50px;
  }

  .fhero img {
    height: 210px;
    object-fit: cover;
    width: 100%;
  }

  /* .fvoreshistorie {
    background-color: #ecdfcf;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    color: #103757;
  }

  .fvoreshistorie h2 {
    margin-bottom: 30px;
    text-align: center;
    font-family: "MinFantastiskeFont";
    font-size: 40px;
    margin: 50px;
  }

  .fvoreshistorie p {
    font-family: "crimson text";
    font-size: 15px;
    padding-top: 30px;
  } */

  /* .findblik {
    gap: 280px;
    margin-left: 130px;
    margin-right: 130px;
    background-color: #ecdfcf;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    color: #103757;
  } */

  /* .findblik h2 {
    margin-bottom: 30px;
    font-family: "MinFantastiskeFont";
    font-size: 40px;
  } */

  /* video {
    width: 500px;
    height: auto;
    aspect-ratio: 16 / 9;
  } */

  /* .ffacade .fmitcv img {
    width: 105%;
    height: auto;
    object-fit: cover;
  } */

  .fcta {
    background-color: #9ddef3;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: #103757;
  }

  .fcta p {
    margin-bottom: 30px;
    font-family: "crimson text";
    font-size: 22px;
    text-align: center;
    padding: 3px;
    margin: 10px;
    padding-top: 15px;
  }

  .fintroduktion h2 {
    margin-bottom: 30px;
    font-family: "MinFantastiskeFont";
    font-size: 25px;
    text-align: center;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: white;
  }

  .fintroduktion p {
    margin-bottom: 30px;
    font-family: "crimson text";
    font-size: 22px;
    text-align: left;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: #103757;
  }
  /* 
  .col_1-1 h2 {
    font-family: "MinFantastiskeFont";
    font-size: 25px;
    text-align: center;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: white;
  }

  .col_1-1 p {
    font-family: "crimson text";
    font-size: 22px;
    text-align: left;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: #103757;
  }

  .col_2-1 h2 {
    font-family: "MinFantastiskeFont";
    font-size: 25px;
    text-align: center;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: white;
  }

  .col_2-1 p {
    font-family: "crimson text";
    font-size: 22px;
    text-align: left;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: #103757;
  } */

  .fctabutton {
    font-family: "MinFantastiskeFont";
    font-size: 35px;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  .fctabutton:hover {
    text-decoration: underline;
  }

  .fvalues {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #103757;
    margin-bottom: 30px;
  }

  .fvalues p {
    font-family: crimson text;
    font-size: 20px;
  }

  .fvalues .rundt {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 50%;
    margin-bottom: 50px;
  }

  .ffacade .cv {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    object-fit: cover;
    display: block;
    margin: 40px auto 0px;
  }

  .fvalues h3 {
    margin-bottom: 10px;
    font-family: "MinFantastiskeFont";
    font-size: 30px;
    color: #103757;
    margin-bottom: 40px;
    margin-top: 70px;
  }

  .fcta p {
    font-family: "crimson text";
    font-size: 20px;
    max-width: 500px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: left;
  }

  /*FOOTER*/

  footer {
    background-color: #103757;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    font-family: "MinFantastiskeFont";
  }

  .ffootertop {
    font-family: "MinFantastiskeFont";
    font-size: 30px;
  }

  .ffootermenu {
    line-height: 30px;
  }

  .flogo img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  footer a {
    text-decoration: none;
    font-family: "MinFantastiskeFont";
    font-size: 18px;
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 77px;
    margin-bottom: 70px;
    margin-left: 0px;
    padding-top: 32px;
    background-color: white;
    border-radius: 0%;
    aspect-ratio: 10;
    margin-right: 170px;
  }

  .ffootersome img {
    width: 50px;
    object-fit: cover;
  }

  .ffootercopy {
    font-size: 10px;
    margin-top: 30px;
  }

  .ffooterinfo {
    padding-bottom: 20px;
    padding-top: 0px;
  }

  .link:hover {
    color: white;
    text-decoration: underline;
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .arrow-up {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

/*DESKTOP*/
@media (min-width: 800px) {
  /*HEADER*/

  /*MAIN*/

  .fhero {
    display: grid;
    place-items: center;
  }

  img,
  h1 {
    grid-area: 1 / 1;
  }

  .fhero img {
    height: 450px;
    width: 1640px;
    object-fit: cover;
  }

  .fhero h1 {
    font-family: "MinFantastiskeFont";
    font-size: 100px;
    color: white;
    letter-spacing: 6px;
    padding-right: 0px;
    text-align: center;
  }

  /* .fvoreshistorie {
    background-color: #103757;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
  }

  .fvoreshistorie h2 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "MinFantastiskeFont";
    font-size: 70px;
  }

  .fvoreshistorie p {
    font-family: "crimson text";
    font-size: 20px;
    max-width: 1100px;
    text-align: center;
    margin-left: 50px;
  } */

  /* .findblik {
    background-color: #9ddef3;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: black;
  }

  .findblik h2 {
    margin-bottom: 60px;
    font-family: "MinFantastiskeFont";
    font-size: 70px;
  }

  video {
    width: 1000px;
    height: auto;
    aspect-ratio: 16 / 9;
  } */

  .fcta {
    background-color: #9ddef3;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    color: #103757;
    padding: 0px;
  }

  .fcta p {
    margin-bottom: 50px;
    font-family: "crimson text";
    font-size: 25px;
    text-align: justify;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 30px;
  }

  .fvalues .beskrivelse .tekst {
    font-family: "MinFantastiskeFont";
    margin-bottom: 27px;
    font-size: 20px;
    text-align: left;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 20px solid #1e82a6;
  }

  .fintroduktion h2 {
    margin-bottom: 30px;
    font-family: "MinFantastiskeFont";
    font-size: 40px;
    text-align: center;
    padding: 3px;
    margin: 20px;
    padding-top: 0px;
    color: white;
  }

  .fintroduktion p {
    margin-bottom: 30px;
    font-family: "crimson text";
    font-size: 25px;
    text-align: left;
    padding: 3px;
    margin: 20px;
    padding-top: 40px;
    color: #103757;
    padding-left: 310px;
    padding-right: 300px;
  }

  .fctabutton {
    /* font-family: "MinFantatiskeFont"; */
    font-size: 60px;
    text-decoration: underline;
    color: white;
    text-align: center;
    padding-left: 240px;
  }

  .fctaborder {
    border: 5px solid white;
    padding: 0px;
    margin-bottom: 95px;
    margin-top: 15px;
  }

  .fctaborder h3 {
    font-size: 40px;
  }

  .fctaborder2 {
    border: 5px solid #1e82a6;
    margin: 30px;
  }

  .fctabutton:hover {
    text-decoration: none;
  }

  .fvalues {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #9ddef3;
    padding-top: 75px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    color: #103757;
  }

  .fvalues p {
    font-family: crimson text;
    font-size: 20px;
  }

  .fvalues .fcta h3 {
    margin: 50px;
    margin-bottom: 50px;
    font-family: "MinFantastiskeFont";
    font-size: 55px;
    background-color: #9ddef3;
    text-align: center;
  }

  .fvalues img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 38px;
  }

  .rundt {
    border-radius: 50%;
  }

  .ffacade .cv {
    width: 800px;
    height: 1000px;
    margin-bottom: 0px;
  }

  /*FOOTER*/

  footer {
    background-color: #103757;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: "MinFantastiskeFont";
    font-size: 20px;
    padding-bottom: 10px;
  }

  .ffootertop {
    font-family: "MinFantastiskeFont";
    font-size: 40px;
  }

  .ffootermenu {
    line-height: 50px;
    padding-top: 10px;
  }

  .flogo img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  footer a {
    text-decoration: none;
    font-family: "MinFantastiskeFont";
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 80px;
    margin-left: 0px;
    padding-top: 30px;
    background-color: white;
    border-radius: 0%;
    aspect-ratio: 12;
  }
}

.ffootersome img {
  width: 60px;
  object-fit: cover;
}

.finsta img {
  padding-top: 0px;
  width: 80px;
}

.ffacebook img {
  padding-top: 9px;
  padding-top: 10px;
  margin-left: 13px;
}

.flinkedin img {
  width: 75px;
  object-fit: cover;
  padding-top: 2px;
}

.ffootergrid3 {
  display: flex;
  justify-content: center;
  margin-left: 370px;
  margin-right: 260px;
  gap: 300px;
}

.ffootercopy {
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.arrow-up {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
